.btn-black{
  background-color: white;
    color: #b93d2a;
    padding: 15px 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #b93d2a;
    border-width: 2px;
    text-align: center;
    font-size: 15px;
    float: unset;
}

.btn-black:hover {
  background-color: #b93d2a;
    color: white;
}

.btn-index-right{
  background-color: white;
    color: #b93d2a;
    padding: 15px 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #b93d2a;
    border-width: 2px;
    text-align: right;
    font-size: 15px;
    float: right;
}

.btn-index-right:hover {
  background-color: #b93d2a;
    color: white;
}

.btn-index-left{
  background-color: white;
    color: #b93d2a;
    padding: 15px 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: #b93d2a;
    border-width: 2px;
    text-align: right;
    font-size: 15px;
    float: left;
}

.btn-index-left:hover {
  background-color: #b93d2a;
    color: white;
}